.wrapper{
    margin: 2rem;

    .header{
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    .details{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        .bootcamp{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 45%;
            height: 800px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 1.5rem 2rem;

            .text{
                font-size: 1.5rem;
                font-weight: 500;
                margin: 1rem 0;
            }

            .items{
                margin-bottom: 1rem;

                label{
                    display: block;
                    font-weight: 500;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }

                .description{
                    width: 100%;
                    height: 5rem;
                    border-radius: 2px;
                    padding: 1rem;
                    font-size: 1rem;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .location{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 45%;
            height: 800px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 1.5rem 2rem;

            .text{
                font-size: 1.5rem;
                font-weight: 500;
                margin: 1rem 0;
            }

            .items {
                margin-bottom: 1rem;

                label {
                    display: block;
                    font-weight: 500;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }

                .radio{
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px){
    .wrapper{
        margin: 2rem;
        .details{
            flex-direction: column;

            .bootcamp{
                width: 100%;
                margin-bottom: 1rem;
            }

            .location{
                width: 100%;
            }
        }
    }
}