@import '../../globalstyles/globals.scss';

.header{
    width: 100vw;
    height: 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;

    .leftSide{
        flex: 50%;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 2rem;

        span{
            font-size: 1.5rem;
            font-weight: 600;
            margin-right: 0.4rem;
        }
    }

    .rightSide{
        flex: 50%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 2rem;

        .links{
            max-height: 100px;

            a{
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                margin-right: 1rem;
                cursor: pointer;
            }

            .bootcamps{
                background-color: #262626;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
            }

            .login{
                padding: 0.5rem 1rem;
                border: 1px solid #262626;
                border-radius: 0.5rem;
            }
        }

        #hidden{
            display: flex;
        }

        button{
            display: none;
            margin-right: 0.5rem;
            padding: 0.3rem 0.5rem;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }
    }
}

@media only screen and (max-width: 880px) {
    .rightSide{
        .links{
            a{
                font-size: 1rem !important;
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    .rightSide{
        .links{
            a{
                font-size: 0.8rem !important;
            }
        }
    }
}

@media only screen and (max-width: 670px) {
    .header{
        border-bottom: hidden;

        .rightSide{
            .links{
                display: none;
            }
    
            #hidden{
                z-index: 5;
                background-color: white;
                position: absolute;
                left: 0;
                top: 100px;
                max-height: 300px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    
                a{
                    margin: 1rem;
                    font-size: 1.5rem !important;
                }
            }
    
            button{
                display: flex !important;
            }
        }
    }
}