.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;

    h1{
        text-align: center;
        font-style: normal;
        line-height: 3rem;
        font-weight: 600;
        font-size: clamp(2rem, 12vw, 4rem);
        color: #132529;
        margin: 1rem 0;
    }

    p{
        text-align: center;
        margin: 1rem 0;
        font-size: 1.2rem;
        color: gray;
    }
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 5rem;

    p{
        margin: 0 1rem;
        font-size: 1.5rem;
        color: gray;
    }
}

@media screen and (max-width: 768px){
    .info{
        flex-direction: column;
        text-align: start;
        padding-inline: 0;

        p{
            font-size: 1.2rem;
        }
    }
}