@import '../../globalstyles/globals.scss';

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;

    h1{
        text-align: center;
        font-style: normal;
        line-height: 3rem;
        font-weight: 600;
        font-size: clamp(2rem, 12vw, 4rem);
        color: #132529;
        margin: 1rem 0;
    }

    p{
        text-align: center;
        margin: 1rem 0;
        font-size: 1.2rem;
        color: gray;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .searchBars{
        display: flex;
        justify-content: center;
        align-items: center;

        .items{
            margin-right: 1rem;
        }
    }
}

@media only screen and (max-width: 810px){
    form{
        .searchBars{
            flex-direction: column;
        }
    }
}

